port 26379
dir /tmp
sentinel monitor mymaster ${HOST_IP} 6379 2
sentinel down-after-milliseconds mymaster 5000
sentinel parallel-syncs mymaster 1
sentinel failover-timeout mymaster 10000
sentinel announce-ip ${HOST_IP}
sentinel announce-port 26379
